<main id="main-signupComponent">
  <div class="container">
    <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
      <div class="container">
        <div class="row justify-content-center">
          <div id="signupBox" class="col-lg-6 col-md-6 d-flex flex-column align-items-center justify-content-center">
            <div class="card mb-3">
              <div id="cardBody" class="card-body">
                <div class="pt-4 pb-2">
                  <h5 class="card-title text-center pb-0 fs-4">Create an Account</h5>
                  <p class="text-center small">Enter your personal details to create account</p>
                </div>
                <div class="row g-3 needs-validation" novalidate>
                  <div class="col-12">
                    <label for="username" class="form-label">Username</label>
                    <input type="text" name="username" class="form-control" id="username">
                    <div class="invalid-feedback">Please, enter your username!</div>
                  </div>
                  <div class="col-12">
                    <label for="email" class="form-label">E-mail</label>
                    <div class="input-group has-validation">
                      <span class="input-group-text" id="inputGroupPrepend">@</span>
                      <input type="text" name="email" class="form-control" id="email" required>
                      <div class="invalid-feedback">Please choose a Email.</div>
                    </div>
                  </div>
                  <div class="col-12">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" name="password" class="form-control" id="password" required>
                    <div class="invalid-feedback">Please enter your password!</div>
                  </div>
                  <div class="col-12">
                    <label for="confirmpassword" class="form-label">Confirm password</label>
                    <input type="password" name="confirmpassword" class="form-control" id="confirmpassword" required>
                    <div class="invalid-feedback">Please Confirm your password!</div>
                  </div>
                  <div class="col-12">
                    <div class="form-check">
                      <input class="form-check-input" name="terms" type="checkbox" value="agreement" id="acceptTerms"
                        required>
                      <label class="form-check-label" for="acceptTerms">I agree and accept the <a href="#">terms and
                          conditions</a></label>
                      <div class="invalid-feedback">You must agree before submitting.</div>
                    </div>
                  </div>
                  <div class="col-12">
                    <button id="createAccount" class="btn btn-primary w-100">Create Account</button>
                  </div>
                  <div id="signin-request" class="col-12">
                    <p id="signinRequest-textBox" class="small mb-0">Already have an account? <a>Log in</a></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  <div id="warrning"></div>
</main>
<script>
  jQuery(document).ready(function () {
    signinRequest() // calling function from processes.js
    createAccount() // calling funtion from processes.js
    $('#main-signupComponent').css({
      'background-image': 'url(' + getURL() + 'assets/img/loginPageBackground.jpg' + ')',
      'background-size': 'cover',
      'position': 'relative',
    })
    $('#signupBox').css({ 'opacity': '.8' })
    $('#cardBody').css({ 'padding': '20px 40px' })
    $('#signinRequest-textBox').css({ 'cursor': 'pointer' })
    $('#email').attr('readonly', true);
    $('#password').attr('readonly', true);
    $('#confirmpassword').attr('readonly', true);
    $("#acceptTerms").prop("checked", true);
    $('#warrning').css({
      'width': '100%',
      'height': '50px',
      'position': 'absolute',
      'z-index': '99999',
      'top': '0',
    });
    $('#email').click(function () {
      $.post(getURL() + 'HTTPResponses/processes/public/api/user/session',
        function (response) {
          if (response) {
            $('#email').attr('readonly', true);
          } else {
            $('#warrning').html(`
                            <div style="
                                 width:100%
                                 ;height:70%
                                 ;background-color:red
                                 ;color:#fff
                                 ;display:flex
                                 ;justify-content:center
                                 ;align-items: center">
                                 Username is required
                            </div>
                       `)
            setTimeout(() => { $('#warrning').html(``) }, 5000)
          }
        });
    })
    $('#password').click(function () {
      $.post(getURL() + 'HTTPResponses/processes/public/api/user/email/session',
        function (response) {
          if (response) {
            console.log('welcome to system')
          } else {
            $('#warrning').html(`
                            <div style="
                                 width:100%
                                 ;height:70%
                                 ;background-color:red
                                 ;color:#fff
                                 ;display:flex
                                 ;justify-content:center
                                 ;align-items: center">
                                 Email is required
                            </div>
                       `)
            setTimeout(() => { $('#warrning').html(``) }, 5000)
          }
        });
    })
    $('#confirmpassword').click(function () {
      $.post(getURL() + 'HTTPResponses/processes/public/api/user/password/session',
        function (response) {
          if (response) {
            console.log('welcome to system')
          } else {
            $('#warrning').html(`
                            <div style="
                                 width:100%
                                 ;height:70%
                                 ;background-color:red
                                 ;color:#fff
                                 ;display:flex
                                 ;justify-content:center
                                 ;align-items: center">
                                 Password is required
                            </div>
                       `)
            setTimeout(() => { $('#warrning').html(``) }, 5000)
          }
        });
    })
    $('#username').keyup(function () {
      if ($('#username').val() != '') {
        $.post(getURL() + 'HTTPResponses/processes/public/api/user/setusername',
          {
            username: $('#username').val(),
          },
          function (response) {

            if (response.status) {
              $('#warrning').html(`
                        <div style="
                            width:100%
                            ;height:70%
                            ;background-color:green
                            ;color:#fff
                            ;display:flex
                            ;justify-content:center
                            ;align-items: center">
                                ${response.data}
                        </div>
                    `)
            } else {
              $('#warrning').html(`
                        <div style="
                            width:100%
                            ;height:70%
                            ;background-color:red
                            ;color:#fff
                            ;display:flex
                            ;justify-content:center
                            ;align-items: center">
                                ${response.data}
                        </div>
                    `)
            }
            setTimeout(() => { $('#warrning').html(``) }, 2000)
          })
      } else {
        setTimeout(() => { $('#warrning').html(``) }, 2000)
      }
    })
  })
</script>