<main id="main-signupComponent">
  <div class="container">
    <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
      <div class="container">
        <div class="row justify-content-center">
          <div id="signupBox" class="col-lg-6 col-md-6 d-flex flex-column align-items-center justify-content-center">
            <div class="card mb-3">
              <div id="cardBody" class="card-body">
                <div class="pt-4 pb-2">
                  <h5 class="card-title text-center pb-0 fs-4">Create an Account</h5>
                  <p class="text-center small">Enter your personal details to create account</p>
                </div>
                <div class="row g-3 needs-validation" novalidate>
                  <div class="col-12">
                    <label for="username" class="form-label">Username</label>
                    <input type="text" name="username" class="form-control" id="username" required>
                    <div class="invalid-feedback">Please, enter your username!</div>
                  </div>
                  <div class="col-12">
                    <label for="email" class="form-label">E-mail</label>
                    <div class="input-group has-validation">
                      <span class="input-group-text" id="inputGroupPrepend">@</span>
                      <input type="text" name="email" class="form-control" id="email" required>
                      <div class="invalid-feedback">Please choose a Email.</div>
                    </div>
                  </div>
                  <div class="col-12">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" name="password" class="form-control" id="password" required>
                    <div class="invalid-feedback">Please enter your password!</div>
                  </div>
                  <div class="col-12">
                    <label for="confirmpassword" class="form-label">Confirm password</label>
                    <input type="password" name="confirmpassword" class="form-control" id="confirmpassword" required>
                    <div class="invalid-feedback">Please Confirm your password!</div>
                  </div>
                  <div class="col-12">
                    <div class="form-check">
                      <input class="form-check-input" name="terms" type="checkbox" value="" id="acceptTerms" required>
                      <label class="form-check-label" for="acceptTerms">I agree and accept the <a href="#">terms and
                          conditions</a></label>
                      <div class="invalid-feedback">You must agree before submitting.</div>
                    </div>
                  </div>
                  <div class="col-12">
                    <button id="createAccount" class="btn btn-primary w-100">Create Account</button>
                  </div>
                  <div id="signin-request" class="col-12">
                    <p id="signinRequest-textBox" class="small mb-0">Already have an account? <a>Log in</a></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </section>

  </div>
  <script>
    jQuery(document).ready(function () {
        signinRequest() // calling function from processes.js
        createAccount() // calling funtion from processes.js
        $('#main-signupComponent').css('background-image', 'url(' + getURL()+ 'assets/img/loginPageBackground.jpg' + ')')
        $('#main-signupComponent').css('background-size','cover')
        $('#signupBox').css('opacity','.9')
        $('#cardBody').css('padding','20px 40px')
        $('#signinRequest-textBox').css('cursor','pointer')
    })
  </script>
</main>